*{
    margin: 0px;
    padding: 0px;
    
}
.layout{
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 0.3fr 3.7fr 0.4fr;
    min-height: 150vh;
    max-height: fit-content;
}
.routes.active{
    color: pink;
}