div{
  margin: auto;
  width: 90vw;
  height: 4rem;
  display: grid;
  gap: 2px;
  text-align: center;
}

.d1{
  background-color: #518cef;
}
.d2{
  background-color: #3b10c4;
}
.d3{
  background-color: #9aede6;
}
.d4{
  background-color: #8ee763;
}
.d5{
  background-color: #a30dd0;
}
