.News{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Side{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
img{
    border-radius: 10px; 
}
.Big img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;  
}

.timer {
    height: 100%;
    width: 0;
    background-color: pink;
    animation: fill 3s linear forwards;
    z-index: 1;
  }
.card{
    z-index: 1;
    background: #021526;
    background: linear-gradient(0deg, #fffefe9d 0%, rgba(2, 255, 192, 0) 100%);
    height: 22%;
    width: 64.4%;
    position: absolute;
    top: 60%;
    left: 9.25%;
    color: white;
    
}
#title{
  font-size: 80px;
  margin-left: 60px;
}
#cat{
  margin-left: 90px;
  font-weight: 300px;
}
.btns button{
  padding: 20px;
  border: transparent;
  border-radius: 10px;
}

.btns{
  display: flex;
  gap: 10px;
  margin-left: 120px;
  margin-top: 10px;
}
#cart{
  background-color: transparent;
  border: #ffffff65 1px solid;
}
.more{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: red 1px solid;
}
.more #sub{
  color: #021526;
  font-weight: bold;
  font-size: large;
  margin: 0px 12%;
  text-decoration: underline;
}
.cont{
  display: flex;
  height:400px;
  justify-content: space-evenly;
  align-items: center;
border: green solid 1px;
  gap: 30px;
}
/* .contain{
  display: flex;
  flex-direction: column;
} 
.contain:hover{
  -moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
min-height: fit-content;
cursor: pointer;
} */
.p, .pp, .ppp{
  width: 20%;
  height:85%;
}

.ul{
  display: flex;
  flex-direction: column;
}
.ul > li{
  list-style: disc;
  margin-left: 40px;
}
































  @keyframes fill {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
