
@media (max-width: 765px){
    #Foot {
      width: 100vw;
    }
    #cR{
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform:translateX(-50%);
      text-align: center;
      width: 100%;
      /* jibha lwest mzyan */
    }
    #logo{
      margin-left: auto;
      margin-right: auto;
    }
  }