.btts button{
    padding: 20px;
    border: transparent;
    border-radius: 10px;
  }
  #cart{
    border: rgba(0, 0, 0, 0.411) 1px solid ;
  }
  .btts{
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
    .holder{
        display: flex;
        justify-content: center;
        height: fit-content;
    }

  .body{
    position: relative;
    left: 10px;
    top: 9%;
    height: fit-content;
    width: 20%;
  }

  #gh5 { 
    text-align: center;
    font-weight: lighter;
    padding-top: 5px;
  }
  .info{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #summary{
    width: 100%;
  }
  .Arr{
    position: absolute;
    width: 99vw;
    overflow: hidden;
    overflow-wrap: nowrap;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  #subtitle{
    text-decoration: underline;
    position: relative;
  }