input{
    border: rgba(0, 0, 0, 0.6) 1px solid;
    padding-left: 10px;
    border-radius: 5px;
}
#s1 > span , section{
    display: flex;
    flex-direction: column;
}
#s1 > span{
    width: 100%;
}
section{
    margin-bottom: 10px;
}

#s1, #s3{
    flex-direction: row;
    gap: 10px;
}

.s3s{
    border: rgba(0, 0, 0, 0.6) 1px solid;
    padding: 5px;
    padding-right: 100px;
    border-radius: 5px;
}

#s4{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#Minp{
    height: 100px;
}
label, #ss{
    color: rgba(0, 0, 0, 0.6);
    display: flex;
}