<div class="bg-white rounded-sm p-10" [formGroup]= "form">
    <h1 class="text-[#0c7d69] font-bold text-xl mb-4">Contact Us</h1>
    <form (ngSubmit)= "onSubmit()">
        <section id="s1">
            <span>
            <label for="">First name<div></div></label>
            <input type="text" name="fname" id="">
            <span class="text-red-600 text-sm mt-1">{{text}}</span>
            </span>
            <span>
            <label for="">Last name <div></div></label>
            <input type="text" name="lname" id="">
            <span class="text-red-600 text-sm mt-1">{{text}}</span>
            </span>
        </section>
        <section>
            <label for="">Email Address <div></div></label>
            <input type="text" name="Email" id="">
            <span class="text-red-600 text-sm mt-1">{{email}}</span>
        </section>
        <section>
            <label for="">Query type <div></div></label>
        <section id="s3">
            <span class="s3s">
            <input type="radio" name="r1" id="">
            <span class="ml-2" id="ss">General Enquiry</span>
            </span>
            <span class="s3s">
            <input type="radio" name="r2" id="">
            <span class="ml-2" id="ss">Support Request</span>
            </span>
        </section>
        <span class="text-red-600 text-sm mt-1">{{radio}} </span>
        </section>
        <section>
            <label for="">Message <div></div></label>
            <input type="text" name="message" id="Minp">
            <span class="text-red-600 text-sm mt-1">{{text}}</span>
        </section>
        <section >
            <div id="s4">
            <input type="checkbox" name="check" id="">
            <label for="">I consent to being contacted by the team <div></div></label>
            </div>
        <span class="text-red-600 text-sm mt-1">{{check}}</span>
        </section>
        <br>
        <section class="w-full">
        <button type="submit" class="bg-[#0c7d69] ml-auto mr-auto w-[80%] p-1 rounded-md text-white">Submit</button>
        </section>
    </form>
</div>